// Compiled with Atom sass

$barHeight: 50px;
$barPadding-TopBottom: 8px;

$boxWidth: 300px;
$fontFamily: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;



// STYLES FOR DEMO
html,
body {
  height:100%;
  min-height: 100%;
  //background: red;
}

// Cookie notice
.cookie {
  &-notice {
    position: relative;
    z-index: 9999;
    font-family: $fontFamily;
    font-size: 16px;
    box-sizing:border-box;
    opacity: 1;
    transition: opacity 0.2s ease;
    & * {
      box-sizing: border-box;
    }
  }
  &-content {
    position: fixed;
    overflow: hidden;
    &._themeDark {
      background: #212121;
      p {
        color: #fff;
      }
    }
    &._themeLight {
      background: #fff;
      p {
        color: #212121;
      }
    }

    &._position {
      &Bottom,
      &Left,
      &Right {
        p,
        button {
          transform: translateY(50px);
        }
      }
      &Top,
      &Bottom {
        left: 0;
        right: 0;
        height: $barHeight;
        padding: $barPadding-TopBottom 30px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
      &Top {
        top: 0;
        transform: translateY(-#{$barHeight});
        p,
        button {
          transform: translateY(-50px);
        }
      }
      &Bottom {
        bottom: 0;
        transform: translateY($barHeight);
      }
      &Left,
      &Right {
        max-width: $boxWidth;
        bottom: 10px;
        padding: 10px 15px 15px;
        border-radius: 4px;
        transform: translateY(50px);
        button {
          width:100%;
          margin-top: 10px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        &._themeLight {
          box-shadow: 0 2px 10px rgba(0,0,0,0.25);
        }
      }
      &Left {
        left: 10px;
        margin-right:10px;
      }
      &Right {
        right: 10px;
        margin-left:10px;
      }
    }
    p,
    a,
    button {
      font-size: 16px;
    }
    p {
      float: left;
      margin: 7px 0;
    }
    button {
      color: #212121;
      float: right;
      height: 34px;
      padding-left: 40px;
      padding-right: 40px;
      background: #B2FF59;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      &:hover {
        background: darken(#B2FF59,15%);
      }
    }
    a {
      color: darken(#B2FF59,25%);
      text-decoration: none;
      margin: 0 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// Animation
@-webkit-keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
%animation {
  opacity: 0;
  -webkit-animation: 0.6s slideIn ease;
  -webkit-animation-fill-mode: forwards;
  animation: 0.6s slideIn ease;
  animation-fill-mode: forwards;
}
.cookie-content {
  &._positionTop,
  &._positionBottom {
    p,
    button {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
  }
  &._positionLeft,
  &._positionRight {
    p {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    button {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s;
    }
  }
  &._positionTop,
  &._positionBottom,
  &._positionLeft,
  &._positionRight {
    @extend %animation;
    p,
    button {
      @extend %animation;
    }
  }
}

// Responsive (desktop first for IE8 compatibility)
@media only screen and (max-width:1150px) {
  .cookie-content {
    &._positionTop,
    &._positionBottom {
      height: auto;
      button {
        float: left;
      }
    }
  }
}
@media only screen and (max-width:500px) {
  .cookie-content {
    &._positionTop,
    &._positionBottom {
      button {
        width: 100%;
      }
    }
  }
}
