html,
body {
  height: 100%;
  min-height: 100%;
}

.cookie-notice {
  position: relative;
  z-index: 9999;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 16px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.cookie-notice * {
  box-sizing: border-box;
}

.cookie-content {
  position: fixed;
  overflow: hidden;
}

.cookie-content._themeDark {
  background: #212121;
}

.cookie-content._themeDark p,
.cookie-content._themeDark button {
  color: #fff;
}

.cookie-content._themeLight {
  background: #fff;
}

.cookie-content._themeLight p,
.cookie-content._themeLight button {
  color: #212121;
}

.cookie-content._barTop, .cookie-content._barBottom {
  left: 0;
  right: 0;
  height: 50px;
  padding: 8px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cookie-content._barTop {
  top: 0;
  transform: translateY(-50px);
}

.cookie-content._barBottom {
  bottom: 0;
  transform: translateY(50px);
}

.cookie-content._boxLeft, .cookie-content._boxRight {
  max-width: 300px;
  bottom: 10px;
  padding: 10px 15px 15px;
  border-radius: 4px;
  transform: translateY(50px);
}

.cookie-content._boxLeft button, .cookie-content._boxRight button {
  width: 100%;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cookie-content._boxLeft {
  left: 10px;
  margin-right: 10px;
}

.cookie-content._boxRight {
  right: 10px;
  margin-left: 10px;
}

.cookie-content._boxLeft._themeLight, .cookie-content._boxRight._themeLight {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.cookie-content p,
.cookie-content button {
  font-size: 16px;
  transform: translateY(50px);
}

.cookie-content p {
  float: left;
  margin: 7px 0;
}

.cookie-content button {
  float: right;
  height: 34px;
  padding-left: 40px;
  padding-right: 40px;
  background: #B2FF59;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.cookie-content button:hover {
  background: #8fff0d;
}

.cookie-content a {
  color: #74d900;
  text-decoration: none;
  margin: 0 5px;
}

.cookie-content a:hover {
  text-decoration: underline;
}

.cookie-content._barTop p,
.cookie-content._barTop button, .cookie-content._barBottom p,
.cookie-content._barBottom button {
  animation-delay: 0.1s;
}

.cookie-content._boxLeft p, .cookie-content._boxRight p {
  animation-delay: 0.2s;
}

.cookie-content._boxLeft button, .cookie-content._boxRight button {
  animation-delay: 0.25s;
}

@-webkit-keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cookie-content._barTop, .cookie-content._barBottom, .cookie-content._boxLeft, .cookie-content._boxRight, .cookie-content._barTop p,
.cookie-content._barTop button, .cookie-content._barBottom p,
.cookie-content._barBottom button, .cookie-content._boxLeft p,
.cookie-content._boxLeft button, .cookie-content._boxRight p,
.cookie-content._boxRight button {
  opacity: 0;
  -webkit-animation: 0.6s slideIn ease;
  -webkit-animation-fill-mode: forwards;
  animation: 0.6s slideIn ease;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1150px) {
  .cookie-content._barTop, .cookie-content._barBottom {
    height: auto;
  }
  .cookie-content._barTop button, .cookie-content._barBottom button {
    float: left;
  }
}

@media only screen and (max-width: 500px) {
  .cookie-content._barTop button, .cookie-content._barBottom button {
    width: 100%;
  }
}
